<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/img/logo-white-header.svg" height="40"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="renderer">Renderização</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="observables">Observables</a>
      </li>
    </ul>
    <a class="btn btn-primary pull-right" (click)="carregar()">Real Time</a>
  </div>
</nav>

<div class="m-1">
  <router-outlet></router-outlet>
</div>